<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Military Spritz</title>
</head>
<body>

    
    <div id="blog">

        <!-- Modal for adding a post -->

        <div class="modal fade" id="addpost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-danger">
                <h5 class="modal-title" id="exampleModalLongTitle">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Title</label>
                          <input type="text" v-model="title" class="form-control" id="formtitle" aria-describedby="emailHelp" placeholder="Enter title">
                          <small id="emailHelp" class="form-text text-muted">do not include anything anti-semitic.</small>
                        </div>
                        <div class="form-group">
                            <label for="comment">Body</label>
                            <textarea class="form-control" v-model="body"rows="5" id="comment"></textarea>
                        </div>
                      <div class="form-group">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
                                 <select class="custom-select mr-sm-2" v-model="category" id="inlineFormCustomSelect">
                                 <option selected value="Off-topic">Off-topic</option>
                                 <option value="Aircraft">Aircraft</option>
                                <option value="Weapon">Weapon</option>
                                </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="text" v-model="tag" class="form-control rounded " placeholder="Add tags" aria-label="Search" aria-describedby="search-addon"/>
                                <button type="button" v-on:click="addTag(tag), tag = ''" class="btn btn-outline-danger">+</button>
                            </div>
                        </div>
                        Tag aggiunti: {{addedTags}}
                      </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" v-on:click="addPost(title,body,category), title = '', body = '', category = ''" data-dismiss="modal" class="btn btn-danger">Post</button>
                </div>
            </div>
            </div>
        </div>
    
        <!-- Page code -->

        <nav class="navbar fixed-top navbar-expand-sm bg-dark text-white-50">
            <h2 class="text-danger">MilitarySpritz</h2>
            <ul class="navbar-nav mx-5">
              <li class="nav-item mr-5">
                <div class="input-group">
                    <input type="search" v-model="tag" class="form-control rounded mx-1" placeholder="Search by tags" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" @click="searchByTag(tag), tag = ''" class="btn btn-outline-danger">search</button>
                </div>
               </li>

               <li class="nav-item">
                <div class="input-group">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                                 <select class="custom-select mr-sm-2" v-model="selectedCategory" id="inlineFormCustomSelect">
                                 <option selected>All</option>
                                 <option value="Off-topic">Off-topic</option>
                                 <option value="Aircraft">Aircraft</option>
                                <option value="Weapon">Weapon</option>
                                </select>
                                <button type="button" @click="searchByCategory(selectedCategory), selectedCategory = ''" class="btn btn-outline-danger">search</button>
                </div>
               </li>
            </ul>
            <ul class="navbar-nav mx-2 ml-auto">
                <li class="nav-item mx-2">
                    <button type="button" class="btn btn-outline-danger" @click="filtersOff">No Filters</button>
                </li>  
               <li class="nav-item">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#addpost">Add Post</button>
                </li>                
            </ul>
          
          </nav>
        <p>     

        <!-- Posts code -->
        <div class="p-3"></div>
        <li v-for="(item, index) in posts.slice().reverse() "style="list-style-type:none;" >
            <post :index="item.index" :title="item.title" :body="item.body" :category="item.category" :comments="item.comments" :tags="item.tags" :show="item.show" @add-comment="addComment" @delete-post="deletePost"></post>
        </li>
    </div>
    <script src="app.js"></script>
</body>
</body>
</html>