<template>
  <div>
    <div>
      <nav class="border-gray-200 px-2 fixed w-full py-2.5 rounded bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <img src="./assets/Steam-Emblem.png" class="mr-3 h-6 sm:h-9 invert" alt="Steam Wishlist" />
          <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Steam Diobono</span>
          <div class="flex md:order-2">
            <div class="hidden relative md:block">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <input type="text" v-on:keyup.enter="search(gameName)" v-model="gameName" id="search-navbar" class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
              <li v-for="(item) in suggestions" v-bind:key="item.id" style="list-style-type:none;">
                <ItemSearch class="" :name="item.name" :id="item.appid"></ItemSearch>
              </li>
            </div>
            <button @click="toggle" data-collapse-toggle="mobile-menu-3" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-3" aria-expanded="false">
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              </svg>
              <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <div :class="open ? 'block': 'hidden'" class="justify-between  mh-1/4 items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-3">
            <div class="relative mt-3 md:hidden">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <form class="flex flex-row">
                <input type="text" v-model="gameName" id="search-navbar" class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
                <span>
                  <button @click="search(gameName)" type="button" data-collapse-toggle="mobile-menu-3" aria-controls="mobile-menu-3" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                  </button>
                </span>
              </form>
            </div>
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 overflow-auto md:mt-0 md:text-sm md:font-medium">
              <li v-for="(item) in suggestions" v-bind:key="item.id" style="list-style-type:none;">
                <ItemSearch class="" :name="item.name" :id="item.appid"></ItemSearch>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3">
      <li v-for="(item) in wlistedGames" v-bind:key="item.index" class="" style="list-style-type:none;">
        <Wishlisted :index="item.index" :name="item.name" :id="item.id" :currentPrice="item.currentPrice" :olderPrice="item.olderPrice"></Wishlisted>
      </li>
    </div>
  </div>
</template>

<script>


import axios from 'axios'
import Wishlisted from './components/Wishlisted.vue';
import ItemSearch from './components/ItemSearch.vue';


export default {
  name: 'App',
  components: {
    Wishlisted,
    ItemSearch
},
  data(){
    return{
      ids:[],
      wlistedGames: [],
      suggestions: [],
      games: [],
      open: false
    }
  },
  methods: {

    async getWishlist(){
      const promise = axios.get('http://localhost:3000/getwishlist')
      const dataPromise = promise.then((response) => {return response.data})
      return dataPromise
    },

    async getGames(){ 
      const promise = axios.get('http://localhost:3000/getgames')
      const dataPromise = promise.then((response) => {return response.data})
      return dataPromise
    },

    search(name){ 
      if (name == "") return
      let regex = new RegExp("^"+ name, "i");
      console.log(this.games)
      this.suggestions=this.games.applist.apps.filter(elem => elem.name.match(regex));
      console.log(this.suggestions);
    },

    async addToWishlist(appid, name){ 
      console.log(appid);
      console.log(name);
      console.log(this.wlistedGames.length)
      axios.post('http://localhost:3000/addtowishlist',{
        id: String(appid),
        name: String(name),
        index: this.wlistedGames.length
        })
      .catch(function (error) {
          console.log(error);
      });
      this.wlistedGames = await this.getWishlist().then((wishlist)=> {return wishlist})
    },
    removeGame(index){ 
      this.wlistedGames.splice(index, 1) 
      for(let i = 0; i<this.wlistedGames.length; i++){
        this.wlistedGames.index = i;
      }
      axios.post('http://localhost:3000/updatewishlist',{
        wishlist: this.wlistedGames
      })
      .catch(function (error) {
          console.log(error);
      });
      console.log(this.wlistedGames)
      console.log(index)
    },

    toggle() {
      this.open = !this.open
    }
  


  },
  async mounted(){
    this.wlistedGames = await this.getWishlist().then((wishlist)=> {return wishlist})
    console.log(this.wlistedGames)
    this.games = await this.getGames().then((games ) => {return games})
    console.log(this.wlistedGames);
  },
  
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;

  }
</style>
