<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="calculator">
            <div class="section is-vcentered">
            </br>
                <div class="columns is-centered">
                    <div id = "expression" class = " box column is-one-fifth has-background-warning-light">
                        <p> {{expression}}</p>
                        
                    </div>
                </div>
                <div class="buttons are-medium is right is-centered">
                    <button class="button" button v-on:click="reset">AC</button>
                    <button class="button" button v-on:click="set('(')">(</button>
                    <button class="button" button v-on:click="set(')')">)</button>
                    <button class="button is-primary" button v-on:click="plus">+</button>
                </div>
                <div class="buttons are-medium is right is-centered">
                    <button class="button" button v-on:click="set(1);">1</button>
                    <button class="button" button v-on:click="set(2);">2</button>
                    <button class="button" button v-on:click="set(3);">3</button>
                    <button class="button is-primary" button v-on:click="minus">-</button>
                </div>
                <div class="buttons are-medium is right is-centered">
                    <button class="button" button v-on:click="set(4);">4</button>
                    <button class="button" button v-on:click="set(5);">5</button>
                    <button class="button" button v-on:click="set(6);">6</button>
                    <button class="button is-primary" button v-on:click="times">x</button>
                </div>
                <div class="buttons are-medium is right is-centered">
                    <button class="button" button v-on:click="set(7);">7</button>
                    <button class="button" button v-on:click="set(8);">8</button>
                    <button class="button" button v-on:click="set(9);">9</button>
                    <button class="button is-primary" button v-on:click="divideBy">/</button>
                </div>
                <div class="buttons are-medium is right is-centered">
                    <button class="button" button v-on:click="set(0);">0</button>
                    <button class="button" button v-on:click="set('**')">^</button>
                    <button class="button" button v-on:click="set('.')">.</button>
                    <button class="button" button v-on:click="equals">=</button>
                </div>
            </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
