<template class="">
<span>
  <div class="opacity-75 bg-gray-800 text-white">
    
      <a class="flex items-center h-8 px-3 text-sm hover:bg-gray-200 hover:text-gray-800" href="#">{{name}}
        <button @click="add()" class="bg-lime-500 hover:bg-lime-400 text-white font-bold py-2 px-4 border-b-4 border-lime700 hover:border-lime-500 rounded">
        Add
        </button>
      </a>
      
    
  </div>
</span>
</template>

<script>
export default {
  name: 'item-search',
  props: {
    name: String,
    id: String
  },
  methods:{
    add(){
      this.$root.addToWishlist(this.id, this.name)
    }
  }
}
</script>

<style>

</style>
