<template>
  <div class="flex w-full h-full shadow-md mt-16 bg-sky-800 text-zinc-300" >
    <div class="ml-3 mx-3 mb-5">
      <div class="m-3">
        <img class="object-contain" v-bind:src="'https://cdn.cloudflare.steamstatic.com/steam/apps/' + id + '/header.jpg'">
     </div>
    
       <div>
        <div>
        {{name}} 
        </div>
        <div class="bg-lime-800 h-5 w-12 bottom-0 right-0 mx-1 my-2">
        {{currentPrice}}
        </div>
        
        <button @click="deleteGame()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full bottom-0 right-0">
        Remove
        </button>
      </div>
      
    </div>
    
  </div>
  
</template>

<script>
export default {
  name: 'wishlisted-games',
  props: {
    name: String,
    olderPrice: String,
    currentPrice: String,
    id: String,
    index: Number
  },
  methods:{
    deleteGame(){
      this.$root.removeGame(this.index)
    }
  }
}

</script>

<style>

</style>
